// Colors


// Font size
$xl-font-size: 4.8rem;
$l-font-size: 3.2rem;
$m-font-size: 1.8rem;

// Padding
$xl-padding: 4rem;
$l-padding: 3rem;
$m-padding: 2rem;
$s-padding: 1rem;

// Break points
$mobile-breakpoint: 768px;

